.banner{
    position: relative;
    background-image: url(https://todaysparent.mblycdn.com/tp/resized/2014/12/767x431/blanket-baby-article.jpg);
    background-size: cover;
    background-position: center;
    height:400px;
    color:white;

}
.nav_bar{
    position: absolute;
    top: 0;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-betwe;
    align-items: center;
    background: rgb(red, green, blue);
}
.nav_bar{
    color: white;
    text-decoration: none;
    margin: 0px 10px;
    font-weight: bold;
    gap: 5px;

}
.nav_bar a:hover{
    text-decoration: underline;
}
.banner-heading{
    position: absolute;
    top: 50%;
    font-size: 3rem;
    font-weight: bolder;
    
}